
	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
  <script src="plugins/jQurey/jquery.min.js"></script>
	<!-- Form Validation -->
    <script src="plugins/form-validation/jquery.form.js"></script>
    <script src="plugins/form-validation/jquery.validate.min.js"></script>
	<!-- owl carouserl js -->
	<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
	<!-- bootstrap js -->
	<script src="plugins/bootstrap/bootstrap.min.js"></script>
	<!-- wow js -->
	<script src="plugins/wow-js/wow.min.js"></script>
	<!-- slider js -->
	<script src="plugins/slider/slider.js"></script>
	<!-- Fancybox -->
	<script src="plugins/facncybox/jquery.fancybox.js"></script>
	<!-- template main js -->
	<script src="js/main.js"></script>

  <script>
    jQuery.fn.liScroll = function(settings) {
    	settings = jQuery.extend({
    		travelocity: 0.03
    		}, settings);
    		return this.each(function(){
    				var $strip = jQuery(this);
    				$strip.addClass("newsticker")
    				var stripHeight = 1;
    				$strip.find("li").each(function(i){
    					stripHeight += jQuery(this, i).outerHeight(true); // thanks to Michael Haszprunar and Fabien Volpi
    				});
    				var $mask = $strip.wrap("<div class='mask'></div>");
    				var $tickercontainer = $strip.parent().wrap("<div class='tickercontainer'></div>");
    				var containerHeight = $strip.parent().parent().height();	//a.k.a. 'mask' width
    				$strip.height(stripHeight);
    				var totalTravel = stripHeight;
    				var defTiming = totalTravel/settings.travelocity;	// thanks to Scott Waye
    				function scrollnews(spazio, tempo){
    				$strip.animate({top: '-='+ spazio}, tempo, "linear", function(){$strip.css("top", containerHeight); scrollnews(totalTravel, defTiming);});
    				}
    				scrollnews(totalTravel, defTiming);
    				$strip.hover(function(){
    				jQuery(this).stop();
    				},
    				function(){
    				var offset = jQuery(this).offset();
    				var residualSpace = offset.top + stripHeight;
    				var residualTime = residualSpace/settings.travelocity;
    				scrollnews(residualSpace, residualTime);
    				});
    		});
    };

    $(function(){
        $("ul#ticker01").liScroll();
    });
    </script>
