<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<% layout('layout') -%>
<body>
        <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>About Company</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">About</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!--
==================================================
    Company Description Section Start
================================================== -->
<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                <img src="images/portfolio/item-3.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Why We are Different</h3>
                    <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                      As suppliers of solar installations and ecological energy technology products, we deliver integrated sustainable alcen solutions for private and commercial as well as the public sector. Thats what our employees are committed to our product and service portfolio ranges from home / street lighting systems to megawatt level power plants.
                      Our ALCEN products and power solutions are engineered for reliability and performance. Our workforce comprises of skilled technicians and specialised installers.
                    </p>
                    <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                      We do not compromise on quality, performance and longevity of the system we deliver. We design them by combiningcomponents and on time delivery/completion of project is our mantra.
                     We belive in customer first. From the first conversation to dispatch ,we make care to deliver precise and value-driven performance to all our clients, quality consciousness and frictionless cooperation constitutes quality ethos
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
    Company Feature Section Start
================================================== -->
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                <h2>
                TRANSFORMING LIVES THROUGH SOLAR ENERGY
                </h2>
                <p>
                  Climate change due to phenomena of global warming and emission of green house gases,is the biggest challenge facing mankind today. To reduce greenhouse gas emission, we can reduce use of fossile energy or increases use of renewable energy.indias target to set up 175 GW of renewable energy capacity by 2022, is a huge step forward.solar energy, not only helps to reduce carbon footprints but can effectively supplement power supply from an electricity transmission grid, thereby providing energy security however, for sustainability, initiatives must be taken to make solar technology cost competitive with coal
                </p>
            </div>
            <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                <h2 class="item_title">
                WHY INVEST IN SOLAR POWER?
                </h2>
                <p>
                  There are many reasons for installing solar power systems. Investing in Solar PV energy systems not only reduces carbon dioxide emission, but is also a secure investment with solid dividendes. It helpes to reduce dependence on conventional power and enables access to a clean and competent alternative, efficient energy solution, with reduced carbon footprints.
                </p>
            </div>
            <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                <h2 class="item_title">
                ALCEN: A ONE-STOP SOLAE ENERGY SUPPLIER
                </h2>
                <p>
                  Cooperating successfully with our customers and the Sun ,for the last few years, we have been pioneers in solar power engineering from 2014. More than three successful years in solar power engineering.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action" style="background:#fff">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block" style="color:black">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="color:black"><b><u>ADVANTAGES OF USING ALCEN TECHNOLOGY AS A SERVICE OFFERING</u></b></h1>
                      <ul>
                      <li><b><i class="fa  fa-arrow-circle-right">  </i>  Our vision, cost benefit approach, help us to deliver world class solutions to our customers, with a high degree of innovation, reliability.</b></li>
                        <li><b><i class="fa  fa-arrow-circle-right">  </i>  Our products are mnnufactured in our own supervision, under strict quality surveillance.</b></li>
                        <li><b><i class="fa  fa-arrow-circle-right">  </i>  We provide solar based cost effective solar water pumping solution for the agricultural sector.</b></li>
                        <li><b><i class="fa  fa-arrow-circle-right">  </i>  We provide sustainable energy support for educational and other institution both public and private.</b></li>
                      </ul>
                </div>
            </div>

        </div>
    </div>
</section>

 	</body>
