<% layout('layout') -%>
<body>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area" >
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="block wow fadeInUp" data-wow-delay=".3s">
                <!-- Slider -->
                <section class="cd-intro">
                    <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                    <span>This is ALCEN Technologies & We are</span><br>
                    <span class="cd-words-wrapper">
                        <b class="is-visible">INNOVATIVE</b>
                        <b>EXPERIENCED</b>
                        <b>RELIABLE</b>
                    </span>
                    </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                        <b>The company is located at 24/1/A, Chandaka Industrial Estate, Near NIFT Building, KIIT Campus, Patia, Bhubaneswar.<br> We are doing business of manufacturing all types of renewable energy equipments like Solar Water Heater, Solar Inverters, Solar lamp, Solar Street light, Wind-Solar power generating Systems, etc.</b>
                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works">View Projects</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<!--
==================================================
About Section Start
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    INTRODUCTION OF COMPANY
                    </h2>
                    <p>
                      <b>The types of renewable energy equipments like Solar Water Heater, Solar Inverters, Solar lamp, Solar Street light, Wind-Solar power generating Systems, etc. are cost effective and it means best products with best features.</b>
                    </p>
                    <p>
                        <b>The company is based upon eco-friendly nature so company creates own identity in the market of green energy company also established ‘Green Revolution’ on earth and to carry brighter and energetic sun raise to human life by using the natural sources of energy and minimizing the use of conventional fuels Company plays vital role in cost control and saving energy through the solar equipments.</b>
                    </p>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <!-- <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="images/about/about.jpg" alt=""> -->
                    <h1><b>News & Events</b></h1>
                    <div class="holder">
                      <ul id="ticker01">
            							<b><li><span>10/10/2007  </span><a href="#">The first thing that most Javascript programmers</a></li></b>
            							<b><li><span>10/10/2007  </span><a href="#">End up doing is adding some code</a></li></b>
            							<b><li><span>10/10/2007  </span><a href="#">The code that you want to run</a></li></b>
            							<b><li><span>08/10/2007  </span><a href="#">Inside of which is the code that you want to run</a></li></b>
            							<b><li><span>08/10/2007  </span><a href="#">Right when the page is loaded</a></li></b>
            							<b><li><span>05/10/2007  </span><a href="#">Problematically, however, the Javascript code</a></li></b>
            							<b><li><span>04/10/2007  </span><a href="#">The first thing that most Javascript programmers</a></li></b>
            							<b><li><span>04/10/2007  </span><a href="#">End up doing is adding some code</a></li></b>
            							<b><li><span>04/10/2007  </span><a href="#">The code that you want to run</a></li></b>
            							<b><li><span>03/10/2007  </span><a href="#">Inside of which is the code that you want to run</a></li></b>
            							<b><li><span>03/10/2007  </span><a href="#">Right when the page is loaded</a></li></b>
            							<b><li><span>01/10/2007  </span><a href="#">Problematically, however, the Javascript code</a></li></b>
            				</ul>
                  </div>
            </div>
          </div>
        </div>
    </div>
</section> <!-- /#about -->


<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Our Projects</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                <b>These are some of the projects that we have done. The projects are successully installed and are in complete working condition.<b>
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-1.jpg" class="img-responsive" alt="this is a title" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-1.jpg">Demo</a>
                                <a target="_blank" href="/single-portfolio">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                    <h4>
                    <a href="#">
                        Solar Light
                    </a>
                    </h4>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-2.jpg" class="img-responsive" alt="this is a title" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-2.jpg">Demo</a>
                                <a target="_blank" href="/single-portfolio">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                    <h4>
                    <a href="#">
                        Sonic
                    </a>
                    </h4>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-3.jpg" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-3.jpg">Demo</a>
                                <a target="_blank" href="/single-portfolio">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                    <h4>
                    <a href="#">
                        Solar Panels
                    </a>
                    </h4>
                    </figcaption>
                </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-4.jpg" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-4.jpg">Demo</a>
                                <a target="_blank" href="/single-portfolio">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                    <h4>
                    <a href="#">
                      Solar Panels
                    </a>
                    </h4>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-5.jpg" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-5.jpg">Demo</a>
                                <a target="_blank" href="/single-portfolio">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                    <h4>
                    <a href="#">
                        Solar Panel
                    </a>
                    </h4>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-6.jpg" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-6.jpg">Demo</a>
                                <a target="_blank" href="/single-portfolio">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                    <h4>
                    <a href="#">
                        Solar Panels
                    </a>
                    </h4>
                  </figcaption><div class="row">
                </figure>
            </div>
        </div>
    </div>
  </div>
</section>
 	</body>
