<% layout('layout') -%>
    <body>



        <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Our Products</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Products</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!--
==================================================
    Service Page Section  Start
================================================== -->
<!-- <section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">What We Love To Do</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis porro recusandae non quibusdam iure adipisci.</p>
                    <div class="row service-parts">
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                <i class="ion-ios-paper-outline"></i>
                                <h4>BRANDING</h4>
                                <p>Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                <i class="ion-ios-pint-outline"></i>
                                <h4>DESIGN</h4>
                                <p>Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                <i class="ion-ios-paper-outline"></i>
                                <h4>DEVELOPMENT</h4>
                                <p>Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                <i class="ion-ios-paper-outline"></i>
                                <h4>THEMEING</h4>
                                <p>Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <img class="img-responsive" src="images/team.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section> -->


<!--
==================================================
    Works Section Start
================================================== -->

<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                <h2>
              <u>  HYBRID SOLAR INVERTER (HSI) </u>
                </h2>
                <p>
                  The HSI is a uniquely featured solar inverter which provides single phase or three phase 230 AC power to connected load. It works with battery or without battery-connected conditions and also supports the connected grid, to cater to the load. Power generated form Solar PV is fully utilized to either charge the battery or to cater to the load, in conjuction with the grid. This system also has the capability to run the load directly form Solar PV, in absence of geid and battery, within the limits of PV power.
                </p>
            </div>
            <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                <h2 class="item_title">
                <u>SOLAR  HOME  LIGHTING  SYSTEM (SHLS)</u>
                </h2>
                <p>
                  The solar home lighting system is an excellent  solution for domestic lighting  (DC) in rural/urban  areas  and especially in remote areas whice are inaccessible by the power grid. A typical solar home lighting system comprises of solar PV module, battery (LMLA/VRLA), charge controller connected in a sequence to provide power to domestic load (like luminaries, protable TV, redio, DC fan etc.) the battery and module ratings are selectable as per the load requirement. The systems are designed typically to give a daily working time of 3-4 hours. The system is tested as per MNRE technical requirements/standards.

                </p>
            </div>
            <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                <h2 class="item_title">
              <u>  SOLAR STREET LIGHTING SYSTEM (SSLS)</u>
                </h2>
                <p>
              The solar street lighting system caters to needbased street lighting and outdoor/garden lighting. It gives 10-12 hours of continuous, bright, cooler light, with automatic dusk to down controls. A typical SSLS comprises of a CFL/LED luminary light source, battery (LMLA/VRLA) for storage of electricity, PV module for charging the battery, charge controller for safe charging and discharging  of battery and dusk-to-dawn controls for operating the lamp. The system is tested as per MNRE technical  requirements/standards.
                </p>
            </div>
          </div>
          <div class="row">
            <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                <h2 class="item_title">
                <u>DIGITAL DC ENERGY METER</u>
                </h2>
                <p>
              The DC energy meter is a dual channel DC multifunction  meter for measurement of DC energy, from SPV applications. It measures DC electrical parameters like voltage, ampere, ampere-hour (Ah) and kilowatt-hour (kWh). The battery charging and discharging para meters can be monitored by using this meter. This instrument has an optional RS 485 output port for RM  interface.
                </p>
            </div>
            <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                <h2 class="item_title">
                <u>REMOTE MONITORING  & DIAGONISTIC SYSTEM (RMS)</u>
                </h2>
                <p>
                  Primarily developed to monitor the performance of a Solar PV Power Plant (SPP)of any size, to maximize solar power harvesting and reduce maintenance cost and time, for analysis of the plant performance data. It also has the capability to transfer the logged data to Agni’s server for remote monitoring purpose. Generally Agni provides a user ID and a password to the intended customer for monitoring purpose. Customer can monitor their SPP remotely with the help of a monitoring web-portal, with the supplied ID and password, using any standard web-browser like Mozilla, firefox, google chrome.Agni will maintain the server, reducing the customer’s effort to maintain the same.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action" style="background:#fff">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block" style="color:black">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="color:black"><b><u>ADVANTAGES OF USING ALCEN TECHNOLOGY AS A SERVICE OFFERING</u></b></h1><br>
                      <ul>
                      <li><b><i class="fa  fa-arrow-circle-right">  </i>ALCEN successfully completed supply, installation, commmissioning & maintenance of 80+ kwp commercial and domestic projects. </b></li>
                        <li><b><i class="fa  fa-arrow-circle-right">  </i> For OMSPTRI, IRC Village, Nayapalli, we have installed 5 kw roof top solar </b></li>
                        <li><b><i class="fa  fa-arrow-circle-right">  </i>For Indian Oil Petrol Pump, Khordha , Bhubaneswar we have installed 10 kw roof top solar.</b></li>
                        <li><b><i class="fa  fa-arrow-circle-right">  </i> 30kw roof top solar for Ugalamani Food Processing Unit at Mancheswar, Bhubaneswar</b></li>
                        <li><b><i class="fa  fa-arrow-circle-right">  </i> A 43 kw Concentric Solar Thermal receier for boiler operation is in process of commissioning at OMFED, Bhubaneswar.</b></li>

                      </ul>
                </div>
            </div>

        </div>
    </div>
</section>






<section class="works service-page">
    <div class="container">
        <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Some Of Our Features Works</h2>
            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere <br> tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.
            </p>
        <div class="row">
            <div class="col-sm-3">
                 <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-1.jpg" class="img-responsive" alt="this is a title" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-1.jpg">Demo</a>
                                <a target="_blank" href="">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Dew Drop
                            </a>
                        </h4>
                        <p>
                            Redesigne UI Concept
                        </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-3">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-2.jpg" class="img-responsive" alt="this is a title" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-2.jpg">Demo</a>
                                <a target="_blank" href="">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Bottle Mockup
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit.
                        </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-3">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-3.jpg" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-3.jpg">Demo</a>
                                <a target="_blank" href="">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Table Design
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-3">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-4.jpg" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-4.jpg">Demo</a>
                                <a target="_blank" href="">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Make Up elements
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor.
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

        <!--
        ==================================================
            Clients Section Start
        ================================================== -->
        <section id="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">Our Happy Clinets</h2>
                        <p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, error.</p>
                        <div id="clients-logo" class="owl-carousel">
                            <div>
                                <img src="images/clients/logo-1.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-2.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
